.profile__username {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
}


@media screen and (max-width: 1024px) {

    .profile__username {
    	font-size: 27px;
    }
}