.popup__close {
    position: relative;
    top: -195px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer; 
    padding: 0;
}

.popup__close:hover {
	opacity: 0.6;
	transition: opacity 0.5s;
}

@media screen and (max-width: 540px) {

    .popup__close {
    	height: 26px;
        right: 40px;
    	top: -210px;
    }
}