.popup-new-place__close {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -45px;
    top: -45px;
    background: url(../../../images/close.svg) center no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.popup-new-place__close:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

@media screen and (max-width: 540px) {

    .popup-new-place__close {
        right: -33px;
        top: -33px;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
}