.profile__first-row {
    display: flex;
    flex-direction: row;
    align-items:  center;
}

@media screen and (max-width: 768px) {

    .profile__first-row {}
}

@media screen and (max-width: 425px) {

    .profile__first-row {}
}